.nav{
  display: flex;
  justify-content: center;
  margin: 30px;
  align-items: center;

}
.navLink{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}

.harryImg{
  width: 100%;
}

.about {
    margin: 0px 100px 0px 100px;
}
.about h1, .home h1{
  display: flex;
  justify-content: center;
}